/* General Styling */

body{
    font-family: garamond, times, serif;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(243, 241, 253), rgb(131, 253, 241))
}
#profilePic {
    border: 5px teal solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
#pavilionPic {
    border: 5px teal solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
h1 {
    font-size: 75px;
    font-family: Snell Roundhand, Vivaldi, cursive;
    font-weight: lighter;
    text-align: center;
    margin-top: 5%;
}
th {
    text-align: right;
}
td {
    text-align: left;
}
table {
    margin: 20px auto 20px;
    border-radius: 5px;
    border: teal solid;
    padding: 10px;
    background: rgb(217, 250, 245);
    width: 350px;
}
a:visited {
    color: teal
}
a:hover {
    color: rgb(112, 34, 238);
}
#interestsList {
    margin: 20px auto 20px;
    border-radius: 5px;
    border: teal solid;
    padding: 20px;
    background: rgb(217, 250, 245);
    width: 300px;
    font-weight: bolder;
}

p.standard-sections {
    width: 400px;
    margin: 20px auto 20px;
    border: 5px teal solid;
    padding: 10px;
    background: rgb(217, 250, 245);
    font-weight: bold;
    font-size: 17px;
}

/*Hidden*/ 

#interests {
    display: none;
}
#audio {
    margin: 50px;
    display: none;
}
#aboutMeTable {
    display: none;
}

/* Nav Bar */

.nav-bar {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 60px;
}
.nav-bar a{
    background-color: rgb(217, 250, 245);
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}
.nav-bar a:hover {
    background-color: rgb(87, 86, 148);
    color: white;
}
.nav-bar a.active {
    background-color: teal;
    color: white;
}

/* First GitHub Page */

#howToTitle {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
    font-size: 60px;
    margin-bottom: 60px;
}
.how-to-steps {
    margin: 20px auto 20px;
    border-radius: 5px;
    border: teal solid;
    padding: 10px;
    background: rgb(217, 250, 245);
    width: 900px;
    text-align: left;
}
.how-to-steps ul {
    list-style-type: square;
}
.how-to-steps li {
    padding: 3px;
}
#basicHTMLSetupScreenshot {
    display: block;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
#simplePortfolioHTMLDocScreenshot {
    display: block;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
