/* General Styling */

body{
    font-family: garamond, times, serif;
    background-image: url('../images/blackandorangebg.jpeg');
    background-size: 100%;
}
.grid {
    display: grid;
    grid-template-columns: 20% 40% 40%;
}
a:visited {
    color: teal
}
a:hover {
    color: rgb(112, 34, 238);
}

/* Banner Objects */

.banner {
    grid-column: 1/4;
    grid-row: 1;
    width: 100%
}

#blackbanner {
    width: 100%;
    margin: none;
    border: 5% solid black;
    padding: none;
}

/* Sidebar */
/* Nav Bar */

.sideBar {
    grid-row: 2/4;
    grid-column: 1;
}

.nav-bar {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 60px;
    padding-top: 27%;
    padding-left: 5%;
}
.nav-bar a{
    background-color: rgb(108, 110, 112);
    padding: 15px;
    font-size: 20px;
    font-family: quicksand;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    display: block;
    color: black;
}
.nav-bar a.active {
    background-color: rgb(25, 25, 26);
    color: white;
}
.nav-bar a:hover {
    background-color: rgb(187, 60, 14);
    color: white;
    width: 105%
}


/* Middle Content */

.main {
    grid-row: 2;
    grid-column: 2/4;
}
#mainTable {
    width: 100%;
    padding-left: auto;
    padding-right: auto;
    padding-top: 5%;
}
#profilePic {
    width: 60%;
    padding-left: 30%;
    padding-top: 10%;
}
.tableCol2 {
    padding-top: 5%;
}
#aboutMeH2 {
    color: white;
    font-family: quicksand, sans-serif;
    font-variant: small-caps;
    font-size: xx-large;
}
#mainAboutMe {
    color: white;
    font-size: x-large;
    padding-right: 30%;
    font-family: quicksand;
}


/* Footer */

.footer{
    grid-row: 3;
    grid-column: 1/4;
}

/* First GitHub Page */

#howToTitle {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
    font-size: 60px;
    margin-bottom: 60px;
}
.how-to-steps {
    margin: 20px auto 20px;
    border-radius: 5px;
    border: teal solid;
    padding: 10px;
    background: rgb(217, 250, 245);
    width: 900px;
    text-align: left;
}
.how-to-steps ul {
    list-style-type: square;
}
.how-to-steps li {
    padding: 3px;
}
#basicHTMLSetupScreenshot {
    display: block;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
#simplePortfolioHTMLDocScreenshot {
    display: block;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
