body{
    font-family: garamond, times, serif;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(243, 241, 253), rgb(131, 253, 241))
}
#profilePic {
    border: 5px teal solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
#pavilionPic {
    border: 5px teal solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
h1 {
    font-size: 75px;
    font-family: vivaldi;
    font-weight: lighter;
    text-align: center;
    margin-top: 5%;
}
th {
    text-align: right;
}
td {
    text-align: left;
}
table {
    margin: 20px auto 20px;
    border-radius: 5px;
    border: teal solid;
    padding: 10px;
    background: rgb(217, 250, 245);
    width: 350px;
}
div {
    margin: 20px auto 20px;
    border-radius: 5px;
    border: teal solid;
    padding: 10px;
    background: rgb(217, 250, 245);
    width: 900px;
    text-align: left;
}
a:visited {
    color: teal
}
a:hover {
    color: rgb(112, 34, 238);
}
ul {
    list-style-type: square;
}
li {
    padding: 3px;
}
#interestsList {
    margin: 20px auto 20px;
    border-radius: 5px;
    border: teal solid;
    padding: 20px;
    background: rgb(217, 250, 245);
    width: 300px;
    font-weight: bolder;
}
#audio {
    margin: 50px;
}
#basicHTMLSetupScreenshot {
    display: block;
    padding: 20px;
}
#simplePortfolioHTMLDocScreenshot {
    display: block;
    padding: 20px;
}
